.table {
    padding: 5px;
    width: 100%;
    border: 1px solid #b6b6b6;
}

.table-header {
    background-color: #e0e0e0;
}
.table-header th {
    padding: 5px;
}
.table-header th.sortable:hover {
    background-color: #c5c5c5;
    cursor: pointer;
}
.row:nth-child(2n+1) {
    background-color: #dddcdf;
}
.row:nth-child(2n) {
    background-color: #ebebeb;
}
.row:hover{
    background-color: #f3f3f3;
}
.number-page{
    border: 1px solid #c6c4c4;
    border-radius: 5px;
    padding: 2px 5px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
.current-page{
    background-color: #d2d7e1;
}

.ASC:after {
    content: ' ';
    border: 7px solid transparent;	
    border-bottom: 7px solid black;
    float: right;
}
.DESC:after {
    content: ' ';
    border: 7px solid transparent;	
    border-top: 7px solid black;
    margin-top: 3px;
    float: right;
}
#table .th-field-name{
    width: 150px;
}
